<div class="jumbotron big-banner">
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <div class="col-12">
          <h1 class="header"><i class="fa fa-cutlery"></i> Foodrunner - The Food delivery App</h1>
          <hr>
          <h3>Satisfy your cravings</h3>
          <h3>Experience a world of food, with your favorite restaurant at your fingertips.</h3>
          <div class="btn-group btn-center-block" role="group" aria-label="Basic example">
            <button class="btn btn-primary btn-lg " routerLink="/login" routerLinkActive="Active">Login</button>
            <button class="btn btn-primary btn-lg" routerLink="/register" routerLinkActive="Active">Register</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>