 /* body, html {
    height: 100%;
  }
  .bg {
    background-image: url("http://127.0.0.1:8887/img.jpeg");
  
    height: 100%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */

  .big-banner { 
      
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),url("http://127.0.0.1:8887/img.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    text-shadow: 0 1px 0 black;
 }
 h3{
    position: relative; 
    color: rgb(241, 247, 243);
 }
 .header{
    position: relative; 
    color: rgb(237, 243, 238);
 }
 .btn-group{
    position: absolute;
}