<!-- <div class="jumbotron big-banner"> -->
  <div class="container-fluid" class=bg>
  <div class="container-fluid row">
    <div class="col-md-9">
      <a *ngIf="globals.admin" [routerLink]="['/food']" class="delete btn btn-primary text-light">Add item <i
          class="fa fa-plus" aria-hidden="true"></i></a>
          <br><br>
      <form>
        <div class="form-group query">
          <input class="form-control" type="text" name="itemSearchName" placeholder="Search" [(ngModel)]="itemSearchName"
            (input)="fetchFoods()">
        </div>

        <div class="form-group">
          <select [(ngModel)]="itemSearchType" name="itemSearchType" class="form-control" (change)="fetchFoods()">
            <option value="all">All</option>
            <option value="appetizer">Appetizers</option>
            <option value="soup">Soups and Salads</option>
            <option value="lunch">Lunch Specials</option>
            <option value="burger">Handcrafted Burgers</option>
            <option value="sandwich">Sandwiches and Tacos</option>
            <option value="pizza">Pizza</option>
            <option value="pasta">Pastas</option>
            <option value="desert">Deserts</option>
            <option value="beverage">Beverages</option>
          </select>
        </div>
      </form>

      <div class="row mt-5" *ngIf="menu.length !== 0 ; else no_search_results">
        <div class="col-md-4 mb-3" *ngFor="let m of curPagefoods">
          <div class="card text-center" style="width: 18rem;">
            <img [src]="m.item_image" alt="Place image title" *ngIf="m.item_image && !isImageLoading; else noImageFound"
              class="card-img-top" style="height:200px">
            <ng-template #noImageFound><img src="../../../assets/1.jpg" alt="Fallbackimage" class="card-img-top" style="height:200px">
            </ng-template>
            <div class="card-body">
              <h5 class="card-title">{{m.item_name}}</h5>
              <p class="card-text">Price: {{ m.item_cost | currency}}</p>
              <p *ngIf="globals.admin && m.item_availability == 'Y'" class="card-text text-success">Available</p>
              <p *ngIf="globals.admin && m.item_availability == 'N'" class="card-text text-danger">Not Available</p>
              <button [disabled]="m.item_availability == 'N'" class="btn btn-primary" (click)="AddToCart(m._id)">Add to Cart 
                <i class="fa fa-shopping-cart"></i></button>
              <div *ngIf="globals.admin" class="card-text">
                <br>
                <button class="btn btn-primary text-light btn-sm" [routerLink]="['/edit-food', m._id]">Edit <i
                    class="fa fa-edit" aria-hidden="true"></i></button><span> &nbsp; </span>
                <button [disabled]="m.item_availability == 'N'" class="btn-sm btn btn-danger text-light" (click)="deleteItem(m._id)">Delete <i
                    class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #no_search_results class="row">
        <h4>No search results</h4>
      </ng-template>
      <div class="row justify-content-center align-items-center">
      <div class="paging">
        <ul class="pagination">
        </ul>
      </div></div>

    </div>

    <div class="col-md-3" style="border-left:2px solid grey">
      <div class="sidebarParent">
        <div class="sidebar">
          <h3>Cart <i class="fa fa-shopping-cart fa-2x"></i></h3>
          <div *ngIf="cart && cart.total_cost != 0 ;else elseblock">
            <table class="table table-light">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Item </th>  
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let food of cart.foods" id={{food.menu.item_availability}}>
                  <th scope="row">{{food.menu.item_name | uppercase}}</th>
                  
                  <td>${{food.menu.item_cost}}</td>
                  <td>
                    <input (change)="UpdateCart(food.menu._id,food.quantity)" style="width: 50px;" type="number"
                      [(ngModel)]="food.quantity" name="quantity" min=1 class="quantity" required>
                  </td>
                  <td><input type="button" (click)="DeleteFromCart(food.menu._id)" value="X" class="btn btn-primary"></td>
                </tr>
                
              </tbody>
            </table>
            <hr>
            <label>
              <h4>Cart Total: ${{cart.total_cost}}</h4>
            </label>
            <hr>
            <input type="button" data-toggle="modal" data-target="#confirm-order" class="btn btn-primary" value="PLACE ORDER">
          </div>
          <ng-template #elseblock>
            <p id="noitems">No items in Cart</p>
            <button class="btn btn-primary disabled" value="PLACE ORDER" [disabled]="true">PLACE ORDER </button>
              
          </ng-template>
          <hr>
          <button type="button" (click)="ViewOrders()" class="btn" >View Order History <i class="fa fa-history"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirm-order" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Place Order Confirmation
            </div>
            <div class="modal-body">
                Press "Confirm" to place order, "Cancel" to go back
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-ok btn-primary" (click)="PlaceOrder(cart)" data-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>