  <div class="jumbotron big-banner">
    <div class="row pt-5">
      <div class="col-md-6 mx-auto">
        <div class="card rounded-0">
          <div class="card-header">
            <label>
              <h3>Register <i class="fa fa-user-plus"></i></h3>
            </label>
          </div>
          <form #user_form="ngForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="container">
              <br>
              <label>Username:</label>
              <input type="text" pattern="\w+" required #Username="ngModel" [class.is-invalid]="(Username.invalid && Username.touched) || isuserexists"
                class="form-control" name="user_name" placeholder="Enter Username" [(ngModel)]="user_name" (input)="checkUsername()">

              <div *ngIf="isuserexists" class="alert alert-danger">Username already exists</div>
              <div *ngIf="Username.invalid && (Username.dirty || Username.touched)" class="alert alert-danger">
                <div *ngIf="Username.errors.required ; else invalid_msg_username">
                  Username is required.
                </div>
                <ng-template #invalid_msg_username>
                  Username should only contain aphanumeric characters
                </ng-template>
              </div>
              <br>
              <label>Email:</label>
              <input type="email" pattern="\w+@\w+\.\w{3}" required class="form-control" name="mail_id" placeholder="Enter Mail Id"
                [(ngModel)]="mail_id" #email="ngModel" [class.is-invalid]="(email.invalid && email.touched) || isemailexists" (input)="checkemail()">

              <div *ngIf="isemailexists" class="alert alert-danger">Email already exists</div>
              <div *ngIf="email.invalid && (email.dirty || email.touched)">
                <div *ngIf="email.errors.required ; else invalid_msg_email" class="alert alert-danger">
                  Email is required.
                </div>
                <ng-template #invalid_msg_email>
                  <div *ngIf="email.invalid && email.touched" class="alert alert-danger">
                    Email is invalid
                  </div>
                </ng-template>
              </div>
              <br>
              <label>Password :</label>
              <input type="password" pattern="(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d])(?=.*?[\W]).{6,35}" required class="form-control"
                name="password" #pwd="ngModel" placeholder="Enter Password" [(ngModel)]="password" [class.is-invalid]="pwd.invalid && pwd.touched">

              <div *ngIf="pwd.invalid && (pwd.dirty || pwd.touched)">
                <div *ngIf="pwd.errors.required ; else invalid_msg_password" class="alert alert-danger">
                  Password is required.
                </div>
                <ng-template #invalid_msg_password>
                  <div *ngIf="pwd.invalid && pwd.touched" class="alert alert-danger">
                    Password : 1 LowerCase, 1 Uppercase, 1 number and 1 special character, min 6 char
                  </div>
                </ng-template>
              </div>
              <br>
              <label>Confirm Password :</label>
              <input type="password" class="form-control" required name="confirm_password" #confirm="ngModel"
                placeholder="Confirm Password" [(ngModel)]="confirm_password" [class.is-invalid]="!comparePassword() && confirm.touched">

              <div *ngIf="!comparePassword() && confirm.touched">
                <div *ngIf="!comparePassword() && confirm.touched ; else invalid_msg_confirm" class="alert alert-danger">
                  Passwords do not match.
                </div>
                <ng-template #invalid_msg_confirm>
                  <div *ngIf="confirm.errors.required" class="alert alert-danger">
                    Confirm Password is required.
                  </div>
                </ng-template>
              </div>
              <br>
              <input type="hidden" class="form-control" name="role" [(ngModel)]="role" value="user" #role_model="ngModel">
              <div class="card-footer">
                <button class="btn btn-primary" type="submit" [disabled]="!user_form.form.valid || !comparePassword() || isuserexists || isemailexists">Register</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>