<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a href="#" class="navbar-brand"> XYZ Restaurant</a>
  </div>
  <ul class="nav">
    <li class="nav-link"><a *ngIf="_authService.loggedIn()" [routerLink]="['/login']" (click)="_authService.logoutUser()">Logout</a></li>
    <li class="nav-link"><a *ngIf="! _authService.loggedIn()" [routerLink]="['/login']">Login</a></li>
    <li class="nav-link"><a *ngIf="! _authService.loggedIn()" [routerLink]="['/register']">Register</a></li>
  </ul>

</nav>